/* src/components/Footer.css */
.app-footer {
  color: var(--body-text-color);
  background-color: var(--header-footer-background);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 40px;

  flex-wrap: wrap;
  gap: 15px;
}

.footer-text {
  font-size: 12px;
  white-space: nowrap;
}

.footer-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-action a {
  color: var(--body-text-color);
  text-decoration: underline;
  font-size: 1.2em;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.footer-action a:hover {
  color: var(--body-text-color-highlight);
  text-decoration: none;
}