@import 'flag-icons/css/flag-icons.min.css';

/* common */
:root {
    /* rarity colors */
    --rarity-none: #1B1E1F;
    --rarity-common: #A66A3B;
    --rarity-uncommon: #4fd742;
    --rarity-rare: #1d4bd4;
    --rarity-epic: #b240f6;
    --rarity-legendary: #F77115;
    --rarity-mythic: #4ad3dc;
    --rarity-titan: #fcce53;

    /* common colors */
    --body-background: #282c34;
    --body-text-color: #DBE0E2;
    --body-text-color-highlight: #C2CACD;
    --header-footer-background: #20232a;

    --zone-background: #282D2F;
    --zone-border-color: #0E0F10;

    --input-background: #1B1E1F;
    --input-text-color: #DBE0E2;
    --input-border: #0E0F10;
    --input-radio-background: #1B1E1F;
    --input-radio-border: #A9AAAA;
    --input-radio-color: #848484;
    --input-checkbox-background: #1B1E1F;
    --input-checkbox-border: #0E0F10;
    --input-checkbox-color: #A9AAAA;

    --slider-background: #282D2F;
    --slider-mark: #DBE0E2;

    --button-tab-background: #85959B;
    --button-tab-text: #000000;
    --button-tab-background-hover: #9DAAAF;
    --button-tab-text-hover: #000000;
    --inactive-tab-background: #0E0F10;
    --inactive-tab-text: #DBE0E2;

    --toggle-on-background: #C2CACD;
    --toggle-off-background: #0E0F10;

    --health-bar-background: #000000;
    --health-bar-color: #282D2F;

    --dropdown-background: #9DAAAF;
    --dropdown-color: #000000;
    --dropdown-arrow-background: #8C9193;
    --dropdown-arrow-color: #000000;
}